{% extends "errors/error.html" %}
{% load static %}
{% block title %}Solicitud incorrecta{% endblock %}
{% block extra_styles %}
{% endblock %}

{% block err %}
  <img src="{% static 'img/errors/400.svg'%}"> 
  <span class="card-title">Solicitud incorrecta</span>
{% endblock err %}

{% block content %}
  <p>La solicitud enviada es incorrecta.</p>
{% endblock %}

{% block extra_scripts %}
{% endblock %}
