{% extends "errors/error.html" %}
{% load static %}
{% block title %}Acceso denegado{% endblock %}
{% block extra_styles %}
{% endblock %}

{% block err %}
  <img src="{% static 'img/errors/403.svg'%}"> 
  <span class="card-title">Acceso denegado</span>
{% endblock err %}

{% block content %}
  <p>¡Lo sentimos!</p>
  <p>Pero usted no está autorizado a ingresar en esta página.</p>
{% endblock %}

{% block extra_scripts %}
{% endblock %}
