{% extends "errors/error.html" %}
{% load static %}
{% block title %}Pagina no encontrada{% endblock %}
{% block extra_styles %}
{% endblock %}

{% block err %}
  <img src="{% static 'img/errors/404.svg'%}"> 
  <span class="card-title">Página no encontrada</span>
{% endblock err %}

{% block content %}
  <p>¡Lo sentimos!</p>
  <p>Hemos buscado por todos lados y no encontramos la página que buscas.</p>
{% endblock %}

{% block extra_scripts %}
{% endblock %}
