{% extends "errors/error.html" %}
{% load static %}
{% block title %}Problema interno en el servidor{% endblock %}
{% block extra_styles %}
{% endblock %}

{% block err %}
  <img src="{% static 'img/errors/500.svg'%}"> 
  <span class="card-title">Problema interno en el servidor</span>
{% endblock err %}

{% block content %}
  <p>¡Ha ocurrido un problema en el servidor!</p>
  <p>Pero ya estamos trabajando para solucionarlo.</p>
{% endblock %}

{% block extra_scripts %}
{% endblock %}
