<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock title %}</title>
  {% load static %}
  <!--Import Google Icon Font-->
      <link href="{% static 'libs/iconfont/material-icons.css' %}" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'libs/materialize/css/materialize.min.css' %}"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="{% static 'css/error.css' %}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="shortcut icon" type="image/gif" href="{% static 'img/LogoTecnica.gif' %}">

  {% block extra_styles %}{% endblock %}
</head>
<body>
      <div class="row">
        <div class="col s12 m4 push-m4">
          <div class="card">
            <div class="card-image teal">
              {% block err %}{% endblock err %}
            </div>
            <div class="card-content">
              {% block content %}{% endblock content %}
            </div>
            <div class="card-action">
              <a href="#" onclick="back()">Volver</a>
            </div>
          </div>
        </div>
      </div>
  <script src="{% static 'libs/jquery-3.2.1.min.js' %}"></script>
  <script type="text/javascript">
    function back(){
      history.back();
    }
  </script>
{% block extra_scripts %}{% endblock %}
</body>
</html>
