{% extends "base.html" %}
{% load static %}

{% block title %}Carreras{% endblock %}

{% block extra_styles %}
<script src="{% static 'js/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="row">

   {% if object_list %}
       {% for carrera in object_list %}
       <div id="carrera{{ carrera.id }}" class="col s12 m6 carrera">
          <div class="card blue-grey darken-1 hoverable">
            <div class="card-content white-text">
                <span class="card-title">{{ carrera.titulo }} - {{ carrera.abreviatura }}</span>
                <p>Normativa: {{ carrera.ley }}</p>
                <p>Año de creación: {{ carrera.anio_creacion }}</p>
            </div>
            <div class="card-action">
              <a href="#" class="waves-effect waves-light"><i class="material-icons">visibility</i></a>
              <a data-id="{{ carrera.id }}" data-tit="{{ carrera.titulo }}" data-abr="{{ carrera.abreviatura }}" data-ley="{{ carrera.ley }}" data-anio="{{ carrera.anio_creacion }}" href="#modal3" class="waves-effect waves-light modal-trigger update"><i class="material-icons">edit</i></a>
              <a data-id="{{ carrera.id }}" data-tit="{{ carrera.titulo }}" class="waves-effect waves-light right modal-trigger delete" href="#modal2"><i class="material-icons">delete</i></a>
            </div>
          </div>
        </div>

       {% endfor %}
<div class="fixed-action-btn">
    <a class="btn-floating btn-large red waves-effect waves-light modal-trigger" href="#modal1">
      <i class="large material-icons">add</i>
    </a>
</div>
   {% else %}

  <div class="row">
    <div class="col s12 m4 push-m4">
      <div class="card hoverable">
        <div class="card-image">
          <img src="{% static 'img/office.png' %}">
          <span class="card-title">¡Uups!</span>
          <a class="waves-effect waves-light btn-floating btn-large halfway-fab waves-effect waves-light red pulse modal-trigger" href="#modal1"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>No se encontraron carreras. Intente agregar una.</p>
        </div>
      </div>
    </div>
  </div>
            
   {% endif %} 
   </div>

   <div id="modal1" class="modal modal-fixed-footer">
       <form id="form_nueva_carrera" method="post" accept-charset="utf-8">
           <div class="modal-content">
               <h4>Nueva Carrera</h4>
               <p>Agregar una carrera ...</p>

               {% csrf_token %}
               {% for field in form %}
               <p>{{ field.errors|safe }}</p>
               <div class="input-field">
                   <label for="{{ field.name }}">{{ field.label }}</label>
                   {{ field }}
                   {% if field.help_text %}
                   <i class="material-icons tooltipped prefix" data-position="left" data-delay="50" data-tooltip="{{ field.help_text|safe }}" style="margin-left: -10px;">
                       help
                   </i>
                   {% endif %}
               </div>
               {% endfor %}
           </div>
           <div class="modal-footer">
               <button id="btncancel" class="modal-action modal-close waves-effect waves-orange btn-flat orange" type="reset">Cancelar</button>
               <button class="modal-action waves-effect waves-orange btn-flat orange" type="submit" name="action">Agregar</button>
           </div>
       </form>
   </div>

   <div id="modal2" class="modal bottom-sheet">
       <form action="">
    <div class="modal-content">
      <h4>Eliminar carrera</h4>
      <p>¿Está a punto de eliminar la carrera <span></span>?</p>
      <div id="spinner1" class="preloader-wrapper active center">
          <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left">
                  <div class="circle"></div>
              </div><div class="gap-patch">
                  <div class="circle"></div>
              </div><div class="circle-clipper right">
                  <div class="circle"></div>
              </div>
          </div>

          <div class="spinner-layer spinner-red">
              <div class="circle-clipper left">
                  <div class="circle"></div>
              </div><div class="gap-patch">
                  <div class="circle"></div>
              </div><div class="circle-clipper right">
                  <div class="circle"></div>
              </div>
          </div>

          <div class="spinner-layer spinner-yellow">
              <div class="circle-clipper left">
                  <div class="circle"></div>
              </div><div class="gap-patch">
                  <div class="circle"></div>
              </div><div class="circle-clipper right">
                  <div class="circle"></div>
              </div>
          </div>

          <div class="spinner-layer spinner-green">
              <div class="circle-clipper left">
                  <div class="circle"></div>
              </div><div class="gap-patch">
                  <div class="circle"></div>
              </div><div class="circle-clipper right">
                  <div class="circle"></div>
              </div>
          </div>
      </div>
    </div>
    <div class="modal-footer">
      <a id="reset" href="#!" class="" hidden></a>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
      <a id="confirm-delete" href="#!" class="modal-action waves-effect waves-red btn-flat text-red">Eliminar</a>
    </div>
  </form>
  </div>

   <div id="modal3" class="modal modal-fixed-footer">
       <form id="form_nueva_carrera" method="post" accept-charset="utf-8">
           <div class="modal-content">
               <h4>Modificar Carrera</h4>
               <p>Modificar la titulación <span></span></p>

               <p></p>
               <div class="input-field">
                   <label for="titulo" class="">Título</label>
                   <input name="titulo" class="validate invalid" maxlength="100" required="" id="id_titulo_update" type="text" value="*">
               </div>
               <p></p>
               <div class="input-field">
                   <label for="abreviatura" class="">Abreviatura</label>
                   <input name="abreviatura" class="validate" maxlength="10" required="" id="id_abreviatura_update" type="text" value="*">
               </div>
               <p></p>
               <div class="input-field">
                   <label for="ley" class="">Ley/Normativa</label>
                   <input name="ley" class="validate" maxlength="100" id="id_ley_update" type="text" value="*">
               </div>
               <p></p>
               <div class="input-field">
                   <label for="anio_creacion" class="">Año</label>
                   <input name="anio_creacion" class="validate" id="id_anio_creacion_update" type="text" value="*">
               </div>
               <div id="spinner2" class="preloader-wrapper active center">
                   <div class="spinner-layer spinner-blue">
                       <div class="circle-clipper left">
                           <div class="circle"></div>
                       </div><div class="gap-patch">
                           <div class="circle"></div>
                       </div><div class="circle-clipper right">
                           <div class="circle"></div>
                       </div>
                   </div>

                   <div class="spinner-layer spinner-red">
                       <div class="circle-clipper left">
                           <div class="circle"></div>
                       </div><div class="gap-patch">
                           <div class="circle"></div>
                       </div><div class="circle-clipper right">
                           <div class="circle"></div>
                       </div>
                   </div>

                   <div class="spinner-layer spinner-yellow">
                       <div class="circle-clipper left">
                           <div class="circle"></div>
                       </div><div class="gap-patch">
                           <div class="circle"></div>
                       </div><div class="circle-clipper right">
                           <div class="circle"></div>
                       </div>
                   </div>

                   <div class="spinner-layer spinner-green">
                       <div class="circle-clipper left">
                           <div class="circle"></div>
                       </div><div class="gap-patch">
                           <div class="circle"></div>
                       </div><div class="circle-clipper right">
                           <div class="circle"></div>
                       </div>
                   </div>
               </div>
           </div>
           <div class="modal-footer">
               <button class="modal-action modal-close waves-effect waves-orange btn-flat orange" type="reset">Cancelar</button>
               <button id="update" class="modal-action waves-effect waves-orange btn-flat orange" type="submit" name="action">Modificar</button>
           </div>
       </form>
   </div>

{% endblock %}

{% block extra_scripts %}
<script>
var deleteid;
var nom;

 $(document).ready(function(){
    $( ".update" ).on( "click", function() {
        $('#spinner2').hide();
        updateid = $( this ).data('id');
        nom = $( this ).data('tit');
        abr = $( this ).data('abr');
        ley = $( this ).data('ley').toString().replace(".", "");
        anio = $( this ).data('anio').toString().replace(".", "");
        $('#modal3 span').text(nom);
        $('#id_titulo_update').val(nom);
        $('#id_abreviatura_update').val(abr);
        $('#id_ley_update').val(ley);
        $('#id_anio_creacion_update').val(anio);

    });

    $("#update").on("click", function(event){
        event.preventDefault();
        $('#spinner2').show();
        $.ajax({
            url : "{% url 'lista_carreras' %}",
            type : "POST",
            data : {
                carrera_id : updateid,
                action: "update",
                titulo: $('#id_titulo_update').val(),
                abreviatura: $('#id_abreviatura_update').val(),
                ley: $('#id_ley_update').val(),
                anio: $('#id_anio_creacion_update').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            }, 

            success : function(response) {
                if(response.status === "True") {
                    window.location.reload()
                    M.toast({html: 'Se actualizó correctamente.', displayLength: 10000});
                } else {
                    $('#modal3').modal('close');
                    M.toast({html: 'Ocurrió un error en la vista "caja_curricular_list".', displayLength: 10000});
                    M.toast({html: 'Contáctese con el administrador del sistema.', displayLength: 10000});
                }
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                M.toast({html: 'Se produjo un error: '+errmsg+
                    '\n Para más información revise el "log" en la consola.', displayLength: 10000})
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    });

    $( ".delete" ).on( "click", function() {
        deleteid = $( this ).data('id');
        nom = $( this ).data('tit');
        $('#modal2 span').text(nom);
        $('#spinner1').hide();

    });

    $("#confirm-delete").on("click", function(event){
        event.preventDefault();
        $('#spinner1').show();
        $.ajax({
            url : "{% url 'lista_carreras' %}",
            type : "POST",
            data : {
                carrera_id : deleteid,
                action: "delete",
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            }, 

            success : function(response) {
                if(response.status === "True") {
                    var cantidad_de_tarjetas = $(".carrera").length;
                    if(cantidad_de_tarjetas === 1) {
                        location.reload();
                    } else {
                        $("#carrera" + response.carrera_id).remove();
                        el = document.getElementById('modal2');
                        instance = M.Modal.getInstance(el);
                        $('#spinner1').hide();
                        instance.modal('close');
                        M.toast({html: 'Se eliminó correctamente', displayLength: 4000});
                    }
                } else {
                    $('#spinner1').hide();
                    $('#modal2').modal('close');
                    M.toast({html: 'Ocurrió un error en la vista "caja_curricular_list".', displayLength: 10000});
                    M.toast({html: 'Contáctese con el administrador del sistema.', displayLength: 10000});
                }
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                $('#spinner1').hide();
                $('#modal2').modal('close');
                M.toast('Se produjo un error: '+errmsg+
                    '\n Para más información revise el "log" en la consola.', 10000)
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    });
  });

</script>
{% endblock %}

