<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Sistema de administración Escolar">
  <meta name="author" content="Alejandro Molina">
  <title>{% block title %}{% endblock %}</title>
  {% load static %}
  <!--Import Google Icon Font-->
      <link href="{% static 'libs/iconfont/material-icons.css' %}" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'libs/materialize/css/materialize.min.css' %}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="shortcut icon" type="image/gif" href="{% static 'img/LogoTecnica.gif' %}">

  {% block extra_styles %}{% endblock %}
</head>
<body>
  <header>
  </header>
  <section>
                {% block content %}

                {% endblock %}
  </section>
    <script src="{% static 'js/materialize.min.js' %}"></script>
{% block extra_scripts %}{% endblock %}
</body>
</html>

