<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Sistema de administración Escolar">
  <meta name="author" content="Alejandro Molina">
  <title>{% block title %}{% endblock %}</title>
  {% load static %}
  <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
  <link rel="shortcut icon" type="image/gif" href="{% static 'img/LogoTecnica.gif' %}">
  <style>
      @import url('{% static "fonts/" %}');
      @font-face {
      font-family: 'Material Icons';
      font-style: normal;
      font-weight: 400;
      src: local('Material icons') url({% static "fonts/material-icons.woff2" %}) format('woff2');
      }

   .material-icons {
       font-family: 'Material Icons';
       font-weight: normal;
       font-style: normal;
       font-size: 24px;
       line-height: 1;
       letter-spacing: normal;
       text-transform: none;
       display: inline-block;
       white-space: nowrap;
       word-wrap: normal;
       direction: ltr;
       -moz-font-feature-settings: 'liga';
       -moz-osx-font-smoothing: grayscale;
   }

  </style> 

<style type="text/css" media="screen">
header, main, footer {
      padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }
</style>
  {% block extra_styles %}{% endblock %}
</head>
<body>
  <header>
  </header>

  <nav class="pink" role="navigation">
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <img class="brand-logo center" style="height: 75px;" src="{% static 'img/LogoTecnica.gif' %}">
      <div class="nav-wrapper">
          <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Notificaciones" href="#"><i class="material-icons">notifications</i></a></li>
              <li><a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Reportar un problema" href="#"><i class="material-icons">bug_report</i></a></li>
              <li><a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ayuda" href="#"><i class="material-icons">help_outline</i></a></li>
              <li><a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Salir" href="{% url 'logout' %}"><i class="material-icons">power_settings_new</i></a></li>
          </ul>
      </div>
  </nav>
    <ul id="slide-out" class="sidenav sidenav-fixed blue-grey darken-4">
        <li><div class="user-view">
            <div class="background">
                <img src="{% static 'img/bg1.svg' %}">
            </div>
            <a href="#!user"><img class="circle" src="{{ get_foto_usuario }}"></a>
            <a href="#!name"><span class="white-text name">{{ user.first_name }} {{ user.last_name }}</span></a>
            <a href="#!email"><span class="white-text email">{{ user.email }}</span></a>
        </div></li>
        <li><a href="#!" class="pink-text waves-effect"><i class="material-icons">settings</i>Configuración</a></li>
        <li><a href="/" class="pink-text waves-effect"><i class="material-icons">dashboard</i>Panel principal</a></li>
        {% if es.directivo %}
        <li><div class="divider"></div></li>
        <li><a class="subheader cyan-text text-accent-2">Dirección</a></li>
        <li><a class="blue-grey-text text-lighten-1 waves-effect" href="#!">Third Link With Waves</a></li>
        {% endif %}
        {% if es.administrativo %}
        <li><div class="divider"></div></li>
        <li><a class="subheader cyan-text text-accent-2">Administración</a></li>
        <li>
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                <div class="collapsible-header waves-effect"><i class="material-icons">school</i>Ofertas educativas</div>
                <ul class="collapsible-body blue-grey darken-3">
                    <li><a class="blue-grey-text text-lighten-1 waves-effect" href="{% url 'lista_carreras' %}">Titulaciones</a></li>
                    <li><a class="blue-grey-text text-lighten-1 waves-effect" href="#!">Certificaciones</a></li>
                </ul>
                </li>
                <li>
                <div class="collapsible-header waves-effect"><i class="material-icons">assignment_turned_in</i>Examen</div>
                <ul class="collapsible-body blue-grey darken-3">
                    <li><a class="blue-grey-text text-lighten-1 waves-effect" href="#!">Ultimo llamado</a></li>
                    <li><a class="blue-grey-text text-lighten-1 waves-effect" href="#!"><i class="material-icons">add</i>Nuevo llamado</a></li>
                </ul>
                </li>
                <li>
                <div class="collapsible-header"><i class="material-icons">perm_contact_calendar</i>Personal</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                <div class="collapsible-header"><i class="material-icons">face</i>Alumnado</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                <div class="collapsible-header waves-effect"><i class="material-icons">message</i>Comunicados</div>
                <ul class="collapsible-body blue-grey darken-3">
                    <li><a class="blue-grey-text text-lighten-1 waves-effect" href="#!"><i class="material-icons">public</i>General</a></li>
                    <li><a class="blue-grey-text text-lighten-1 waves-effect" href="#!"><i class="material-icons">group</i>Grupo</a></li>
                    <li><a class="blue-grey-text text-lighten-1 waves-effect" href="#!"><i class="material-icons">contact_mail</i>Particular</a></li>
                </ul>
                </li>
            </ul>
        </li>
        {% endif %}
        {% if es.jefe %}
        <li><div class="divider"></div></li>
        <li><a class="subheader cyan-text text-accent-2">Jefatura</a></li>
        <li><a class="blue-grey-text text-lighten-1 waves-effect" href="#!">Third Link With Waves</a></li>
        {% endif %}
        {% if es.preceptor %}
        <li><div class="divider"></div></li>
        <li><a class="subheader cyan-text text-accent-2">Preceptoría</a></li>
        <li><a class="blue-grey-text text-lighten-1 waves-effect" href="#!">Third Link With Waves</a></li>
        {% endif %}
        {% if es.profesor %}
        <li><div class="divider"></div></li>
        <li><a class="subheader cyan-text text-accent-2">Profesorado</a></li>
        <li><a class="blue-grey-text text-lighten-1 waves-effect" href="#!">Third Link With Waves</a></li>
        {% endif %}
        <li class="blue-grey-text text-darken-4">M</li> <!--Provisorio para corregir el scroll hasta el final-->
    </ul>
<div class="container">
  <div class="section">
      {% block content %}

      {% endblock %}
  </div>
</div>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script charset="utf-8">
     M.AutoInit();
     document.addEventListener('DOMContentLoaded', function() {
         var elems = document.querySelectorAll('.sidenav');
         var instances = M.Sidenav.init(elems);
     });

    </script>

{% block extra_scripts %}{% endblock %}
</body>
</html>
