{% extends "anonimo.html" %}
{% load static %}
{% block title %}Login{% endblock %}

{% block extra_styles %}
    <style type="text/css" media="screen">
        header, main, footer {
            padding-left: 300px;
        }

        @media only screen and (max-width : 992px) {
            header, main, footer {
                padding-left: 0;
            }
        }
        html {
            background: url("{% static 'img/bg1.svg' %}") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
    {% endblock extra_styles %}
    </head>
    <body>
        <header>
        </header>
{% block content %}

            <div class="row">
                <div class="col s10 offset-s1 m6 offset-m3 l5 offset-l3 xl3 offset-xl4">
                    <div class="card">
                        <div class="card-image">
                            <img src="{% static 'img/office.png' %}">
                            <span class="card-title"><img src="{% static 'img/LogoTecnica.gif' %}" style='width:25%;'>Ingreso</span>
                            <a class="btn-floating btn-large halfway-fab waves-effect waves-light red activator"><i class="material-icons">person_add</i></a>
                        </div>
                        <form method="post" accept-charset="utf-8">
                            <div class="card-content">
                                {% csrf_token %}
                                <div class="row">
                                    {% for field in form %}
                                    <div class="input-field col s12">
                                        {% if field.name == 'username' %}
                                        <i class="material-icons prefix">account_circled</i>
                                        {% else %}
                                        <i class="material-icons prefix">lock</i>
                                        {% endif %}
                                        {{ field }}
                                        <label for="{{ field.name }}">{{ field.label }}</label>
                                        {% if field.name == 'username' %}
                                        <span class="helper-text" data-error="{{ field.errors|default:'Ingrese una dirección de correo válida' }}" data-success="Correcto"></span>
                                        {% else %}
                                        <span class="helper-text" data-error={{ field.errors }}></span>
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                    <p><a href="#">¿Olvidó su clave?</a></p>
                                </div>
                            </div>
                            <div class="card-action">
                                <button class="waves-effect waves-orange btn-flat orange" type="submit" name="action">Ingresar</button>
                            </div>
                        </form>
                        <div class="card-reveal brown lighten-5">
                            <span class="card-title grey-text text-darken-4">Solicitud de registro<i class="material-icons right">close</i></span>
                            <form action="{% url 'register' %}" method="post" class="col s12">{% csrf_token %}
                            {% for field in form_register %}
                            <div class="input-field col s12">
                                {% if field.help_text %}
                                <i class="material-icons prefix">{{ field.help_text|safe }}</i>
                                {% endif %}
                                {{ field }}
                                <label for="{{ field.name }}">{{ field.name }}</label>
                                {% if field.name == 'username' %}
                                <span class="helper-text" data-error={{ field.errors|default:"Ingrese una dirección de correo válida" }} data-success="Correcto"></span>
                                {% else %}
                                <span class="helper-text" data-error={{ field.errors }} data-success="Correcto"></span>
                                {% endif %}
                            </div>
{% endfor %}
                            <button class="btn waves-effect waves-light brown darken-2" type="submit" name="action">ENVIAR
                                <i class="material-icons right">send</i>
                            </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock content %}

{% block extra_scripts %}
{% endblock extra_scripts %}
</body>
</html>
