{% extends "anonimo.html" %}
{% load static %}
{% block title %}Registro exitoso{% endblock %}
{% block extra_styles %}
<style type="text/css" media="screen">
header, main, footer {
      padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }
    html { 
        background: url('{% static 'img/bg1.svg' %}') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12 m4 push-m4">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Registro de usuario</span>
                <p>Se completó satisfactoriamente</p>
            </div>
            <div class="card-action">
                <a href="{% url 'home' %}">Volver al inicio</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_scripts %}
{% endblock %}
