{% extends "anonimo.html" %}
{% load static %}
{% block title %}Registro{% endblock %}
{% block extra_styles %}
<style type="text/css" media="screen">
header, main, footer {
      padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }
    html { 
        background: url('{% static 'img/bg1.svg' %}') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    ul.errorlist>li {
        color: #E91E63;
    }
</style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12 m4 push-m4">
        <div class="card blue-grey darken-1">
            <form method="post" accept-charset="utf-8">
                <div class="card-content white-text">
                    <span class="card-title">Registro de usuario</span>
                    <p>Complete el registro con los datos solicitados</p>
                    {% csrf_token %}
                    {% for field in form %}
                    <p>{{ field.errors|safe }}</p>
                    <div class="input-field">
                        <label for="{{ field.name }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.help_text %}
                        <i class="material-icons tooltipped prefix" data-position="left" data-delay="50" data-tooltip="{{ field.help_text|safe }}" style="margin-left: -10px;">
                                help
                        </i>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <div class="card-action">
                    <button class="waves-effect waves-orange btn-flat orange" type="submit" name="action">Registrarse</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_scripts %}
{% endblock %}
